.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Media Queries */
@media (min-width: 600px) {

    /* For tablets and small laptops, adjust padding */
    .nav-wrapper {
        padding: 15px 30px;
    }
}

@media (min-width: 1024px) {

    /* For desktops, adjust padding further */
    .nav-wrapper {
        padding: 20px 40px;
    }
}
