@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font: 'Archivo', sans-serif;
}

.firstH1{
    font-family: var(--main-font);
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 30px 30px 5px 30px;
}

.trialOffer {
    font-family: var(--main-font);
    text-align: center;
    margin: 10px 20px 30px 20px;
}
.getStartedBtn{
    font-family: var(--main-font);
    display: block;
    margin: 20px auto;
    color: white;
    background-color: #06945b;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 70px;
    cursor: pointer;
}

.getStartedBtn:hover{
    background-color: #68e5a2;
}

.noCredit{
    font-family: var(--main-font);
    color: #939393;
    font-size: 14px;
    text-align: center;
}

.lottie-animation {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

.awards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    text-align: center;
}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.award p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 2px 0;
}

.award box-icon {
    width: 20px;
    height: 20px;
    color: #333;
}