@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-font: 'Archivo', sans-serif;
}

body {
    font-family: var(--main-font);
}

.firstH1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    margin: 30px 30px 5px 30px;
}

.trialOffer {
    text-align: center;
    margin: 10px 20px 30px 20px;
}
.getStartedBtn{
    display: block;
    margin: 20px auto;
    color: white;
    background-color: #06945b;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 70px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.getStartedBtn:hover{
    background-color: #68e5a2;
}

.noCredit{
    color: #939393;
    font-size: 14px;
    text-align: center;
}

.sellingOnlineLottie {
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 400px;
}

.awards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 60px 0;
    text-align: center;
}

.award {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.award p {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 2px 0;
}

.award box-icon {
    width: 20px;
    height: 20px;
    color: #333;
}